/* the container */
.twohop-links-container {
  margin-top: 20px;
  max-width: var(--max-width);
  margin: 0 0 0 calc(50% - var(--max-width) / 2) !important;
  /* padding-left: var(--folding-offset); */
}

/* common */
.twohop-links-section:after {
  content: "";
  display: block;
  clear: both;
}

.twohop-links-box {
  box-sizing: border-box;
  float: left;
  padding: 10px;
  margin: 8px;
  background-color: #373b44;
  border-radius: 2px;
  overflow: hidden;
}

.twohop-links-box:hover {
  filter: brightness(0.8) contrast(0.8);
}

.twohop-links-box-title {
  color: #f0f0f0;
  font-style: bold;
  margin-bottom: 15px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.twohop-links-box:not([class*=" "]) {
  border-top: 10px solid #2b2e38;
}

.twohop-links-box-preview {
  color: #b4b5b6;
  font-size: 70%;
}

.twohop-links-box img {
  margin: auto;
}

/* connected links */
.twohop-links-connected-links-header {
  background-color: #80c9fe;
  color: #202277;
}

/* two hop links */
.twohop-links-twohop-header {
  /* clear: both; */
  background-color: #2b2e38;
  color: #dddede;
}

/* tags */
.twohop-links-tag-header {
  /* clear: both; */
  background-color: #46af5d;
  color: #ffffff;
}

/* new links */
.twohop-links-new-links-header {
  background-color: #fb7476;
  color: #ffffff;
}

/* Remove bottom padding in preview mode */
.markdown-preview-section {
  padding-bottom: 20px !important;
}

/* Remove bottom padding in editor mode */
div.cm-content {
  padding-bottom: 30px !important;
}
