/* switch light/dark mode */
.theme-light {
  --bg-box: #ffffff;
  --bg-box-top: #e2e2e2;
  --title-box: #363c49;
  --text-box: #b7b7b7;
  --bg-header-twohop: #9babc1;
  --title-header-twohop: #ffffff;
  --bg-header-new: #fd7373;
  --title-header-new: #ffffff;
  --bg-header-connected: #5e8af6;
  --title-header-connected: #ffffff;
  --bg-header-tag: #46af5d;
  --title-header-tag: #ffffff;
}

.theme-dark {
  --bg-box: #373b44;
  --bg-box-top: #2b2e38;
  --title-box: #f0f0f0;
  --text-box: #b4b5b6;
  --bg-header-twohop: #2b2e38;
  --title-header-twohop: #dddede;
  --bg-header-new: #fb7476;
  --title-header-new: #ffffff;
  --bg-header-connected: #80c9fe;
  --title-header-connected: #202277;
  --bg-header-tag: #46af5d;
  --title-header-tag: #ffffff;
}

/* the container */
.twohop-links-container {
  margin-bottom: 55px;
  user-select: none;
  -webkit-user-select: none;
}
.twohop-links-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(139px, 1fr));
  grid-gap: 16px;
  margin: 20px;
}

/* common */
.twohop-links-box {
  box-sizing: border-box;
  max-height: 170px;
  padding: 10px;
  background-color: var(--bg-box);
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  word-break: break-word;
}

.twohop-links-box:hover {
  filter: brightness(0.8) contrast(0.8);
}

.twohop-links-box-title {
  color: var(--title-box);
  font-size: 90%;
  font-weight: 500;
  margin-bottom: 10px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  white-space: unset;
  -webkit-line-clamp: 3;
}

.twohop-links-box img {
  margin: auto;
}

/* Non-header box */
.twohop-links-box:not([class*=" "]) {
  border-top: 10px solid var(--bg-box-top);
}

.twohop-links-box-preview {
  color: var(--text-box);
  font-size: 70%;
  white-space: pre-line;
}

/* connected links */
.twohop-links-connected-links-header {
  background-color: var(--bg-header-connected);
  color: var(--title-header-connected);
}

/* two hop links */
.twohop-links-twohop-header {
  background-color: var(--bg-header-twohop);
  color: var(--title-header-twohop);
}

/* tags */
.twohop-links-tag-header {
  background-color: var(--bg-header-tag);
  color: var(--title-header-tag);
}

/* new links */
.twohop-links-new-links-header {
  background-color: var(--bg-header-new);
  color: var(--title-header-new);
}

/* Remove bottom padding in preview mode */
.markdown-preview-section {
  padding-bottom: 20px !important;
}

/* Remove bottom padding in editor mode */
div.cm-content {
  padding-bottom: 30px !important;
}

.markdown-embed-content .twohop-links-container {
  display: none;
}

body:not(.zoom-off) .view-content div:not(.canvas-node-content) .twohop-links-box img {
    cursor: pointer !important;
}
